---
import SocialList from "@/components/SocialList.astro";
import PostPreview from "@/components/blog/PostPreview.astro";
import { getAllPosts, sortMDByDate } from "@/data/post";
import PageLayout from "@/layouts/Base.astro";
import { Image } from "astro:assets";
import pfp from "@/assets/pfp.jpg";

const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);
---

<PageLayout meta={{ title: "Home" }}>
	<section class="flex flex-col sm:flex-row">
		<div class="flex-1 sm:max-w-lg sm:flex-auto">
			<h1 class="subtitle mb-6">hello! my name is</h1>
			<h2 class="large-title mb-6">aditya</h2>
			<p class="font-mono text-sm font-normal leading-6">
				i am an incoming Codepoint Fellow @ Sutter Hill Ventures. i'm currently a senior at UC
				Berkeley, where I study computer science.
			</p>
			<br />
			<p class="font-mono text-sm font-normal leading-6">
				i am passionate about distributed systems, large-scale performant architectures, and
				designing high-throughput, fault-tolerant systems.
			</p>
			<br />
			<br />
			<SocialList />
		</div>
		<div class="flex-1 sm:max-w-md sm:flex-auto">
			<Image src={pfp} alt="Aditya Balasubramanian" class="h-auto w-72" />
		</div>
	</section>
	<!-- <section aria-label="Blog post list" class="mt-16">
		<h2 class="title mb-4 text-xl">Posts</h2>
		<ul class="space-y-4">
			{
				allPostsByDate.map((p) => (
					<li class="grid gap-2 sm:grid-cols-[auto_1fr] sm:[&_q]:col-start-2">
						{/* @ts-expect-error - issue with -> @astrojs/check@0.9.3 */}
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section> -->
</PageLayout>
